body.nav-open {
    overflow: hidden;
}

main{
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.nav-open main{
    opacity: 0;
}

button {
    position: static;
}

.p-float-label {
    margin-top: 2rem;
}

.p-float-label *:focus~label,
.p-float-label *.p-focus~label,
.p-float-label *.p-filled~label,
.p-float-label *.p-inputwrapper-filled~label{
    left: 0;
    color: inherit;
}

.p-card.h-full{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* using fieldsets for info */
.p-fieldset{
    background-color: var(--cyan-200);
    border-color: var(--cyan-200);
}

.p-fieldset .p-fieldset-legend{
    background-color: var(--cyan-100);
    border-color: var(--cyan-100);
}

.p-input-icon-left, .p-input-icon-right{
    display: block;
}